# Python bytecode files
*.pyc

# Tor's data
Tor/hidden_service/
Tor/tor_data/
Tor/tor.pid

# TorChat's data
buddy-list.txt
config
*_offline.txt
config.json

# some sort of image cache thing
wx
tc_client
